#menu ul{ 
position:absolute;
left:120px;
top:185px;
list-style: none;
}

li#menu1,li#menu2,li#menu3,li#menuat{ 
display: inline; 
float:left;
margin-right:5px;
}

li#menu1 {
background-color:#228b22;
}

li#menu2 {
background-color:#ffa500;
}

li#menu3 {
background-color:#ff4500;
}

li#menuat {
background-color:#0033FF;
}

#menu li a{
display: block; 
border: 0px solid #666;

padding:3px;
text-decoration: none;
color: #ffffff;
width: 110px;
height:28px; 
text-align:center;
line-height:2em;height:2em;
font-size: 14px;

}
#menu li a:hover{
background-color: #32CD32;
color: #fff;
}

p.box {
	position:absolute;
	left:160px;
	top:219px;
	border-bottom: 5px solid green;
	width:1010px;
 }

#leftposition {
	position: absolute;
	top:0px;
	left:160px;
	background-image: url("nanohana.jpg");
	width:1010px;
	height:200px;
}
.logo {
	position:absolute;
	top:109px;
	left:300px;
}
.wp[
	padding:0px 0 0 0px;
}


#header {

}

